{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experiance">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <!-- {% if exp.sister_company %}
                <span class="sister_company">· Sister Company: {{exp.sister_company}}</span>
                {% endif %} -->
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details">
                {% for detail in exp.details %}
                <span>- {{detail}}</span><br/>
                {% endfor %}
            </div>
            <p class="technologies">Technologies Used: {{exp.technologies_used}}</p>
        </div>
    {% endfor %}
</section>
{% endif %}