.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-title {
            color: var(--fg-color);
            font-weight: 700;
        }
        .project-link {
            @include body-text;
        }
        .project-details {
            @include body-text;
        }
    }
}